html,body {
    height: 100%;
    font-family: 'Muli', sans-serif;
    background-color: ghostwhite;
}

body {
    min-width: 830px;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

nav {
    position: fixed;
    z-index: 20;
    width: 100%;
}

nav a {
    margin: 5px 15px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

#nav-logo {
    display: none;
    margin-right: 0;
}

#nav-logo img {
    height: 35px;
    margin-right: 5px;
}

nav a:hover {
    color: white;
    text-decoration: none;  
}

nav a:not(#nav-logo):hover { 
    border-bottom: 3px solid cyan;
}

nav a.active {
    border-bottom: 3px solid cyan;
}

.jumbotron {
    position: relative;
    height: 16vw;
    min-height: 255px;
    box-sizing: content-box;
    color: white;
    box-shadow: 0px 1px 5px 0px darkgray;
}

#pricing {
    color: lime;
    font-style: italic;
}

#agent {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
    z-index: 0;
    background-image: url("../images/agents.jpg");
    background-size: cover;
}

#combs {
    height: 100%;
    width: 100%;
    opacity: 0.2;
    background-image: url("../images/honeycomb.png");
    background-size: contain;
}

#clipped {
    position: absolute;
    display: table;
    height: 100%;
    width: 66%;
    top: 0;
    left: -10%;
    padding-right: 5%;
    z-index: 5;
    background-image: linear-gradient(#7700c7, #9900ff, #7700c7);
    background-image: -moz-linear-gradient(#7700c7, #9900ff, #7700c7);
    background-image: -o-linear-gradient(#7700c7, #9900ff, #7700c7);
    -o-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
}

#heading-container {
    position: relative;
    display: table;
    height: 100%;
    width: 50%;
    margin: 0;
    box-sizing: content-box;
    z-index: 10;
}

#heading {
    display: table-cell;
    vertical-align: middle;
}


#logo {
    float: left;
    margin-top: 10px;
}

.slogan {
    font-style: italic;
}

hr {
    border-color:darkgray; 
    border-style:solid;
}

.main-content {
    text-align: center;
}

.subheader {
    margin-bottom: 60px;
}

.card-deck .card {
    margin-bottom: 75px;
    box-shadow: 0px 1px 5px 0px darkgray;
}

.icon-backdrop {
    position: relative;
    display: table;
    margin: auto;
    width: 100px;
    height: 100px;
    top: -50px;
    border-radius: 50%;
    background-color: #9900ff;
    box-shadow: 0px 0px 3px 3px darkgray;
}

.fas {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 32px;
}

.card-body {
    padding-top: 0;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 18px;
}

ul {
    text-align: left;
}

form {
    margin: auto;
    text-align: left;
}

@media (max-width: 1024px) {
    html {
        font-size: 75%;
    }

    nav {
        visibility: hidden;
    }
}


/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    nav {
        visibility: hidden;
    }
} */