html,body {
    height: 100%;
    font-family: 'Muli', sans-serif;
}

.jumbotron {
    position: relative;
    height: 30%;
    box-sizing: content-box;
    color: white;
    box-shadow: 0px 1px 5px 0px darkgray;
}

#agent {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
    z-index: 0;
    background-image: url("../images/agents.jpg");
    background-size: cover;
}

#combs {
    height: 100%;
    width: 100%;
    opacity: 0.2;
    background-image: url("../images/honeycomb.png");
    background-size: contain;
}

#clipped {
    position: absolute;
    display: table;
    height: 100%;
    width: 60%;
    top: 0;
    padding-right: 5%;
    z-index: 5;
    background-image: linear-gradient(#7700c7, #9900ff, #7700c7);
    background-image: -moz-linear-gradient(#7700c7, #9900ff, #7700c7);
    background-image: -o-linear-gradient(#7700c7, #9900ff, #7700c7);
    -webkit-clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%); 
}

#heading {
    display: table-cell;
    vertical-align: middle;
}


#logo {
    float: left;
    margin-top: 10px;
}

.slogan {
    font-style: italic;
}

hr {
    border-color:darkgray; 
    border-style:solid;
}

#main-content {
    text-align: center;
}

.subheader {
    margin-bottom: 50px;
}

.card {
    box-shadow: 0px 1px 5px 0px darkgray;
}

.icon-backdrop {
    position: relative;
    display: table;
    margin: auto;
    width: 100px;
    height: 100px;
    top: -50px;
    border-radius: 50%;
    background-color: #9900ff;
    box-shadow: 0px 0px 3px 3px darkgray;
}

.fas {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 32px;
}

.card-body {
    padding-top: 0;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 18px;
}

ul {
    text-align: left;
}