body {
    font-family: 'Muli', sans-serif;
}

nav {
    box-shadow: 0px 1px 5px 0px darkgray;
}

.jumbotron {
    position: relative;
    color: white;
}

.jumbotron .container-fluid {
    position: relative;
    z-index: 5;
}

#clipped {
    position: absolute;
    height: 100%;
    width: 60%;
    z-index: 0;
    top: 0;
    background-color: #007bff;
}

.slogan {
    font-style: italic;
}